@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&family=Bungee+Spice&family=Fruktur:ital@0;1&family=Lato:ital,wght@1,900&family=Nabla&family=Righteous&family=Roboto:wght@500&family=Silkscreen&display=swap');

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #0099f7, #f11712);    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;
}

.container {
    width: 250px;
    height: 400px;
    background: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.container .image {
    width: 200px;
    height: 200px;
    margin-top: -50px;
}

.container .image .shoe img {
    width: 100%;
    height: auto;
    z-index: 2;
}

img {
    width: 100%;
    height: 100%;
}

.shoe {
    z-index: 2;
}

.shape {
    width: 200px;
    height: 170px;
    background: linear-gradient(to right, #396afc, #2948ff);
    border-radius: 55% 45% 47% 53% / 43% 38% 62% 57%;
    margin-top: -150px;
}

/* .container .image .shape img {
    border-radius: 55% 45% 47% 53% / 43% 38% 62% 57%;
    margin-top: -130px;
} */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-type {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.colors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.btn {
    width: 200px;
    height: 30px;
}

.btn_container {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    font-family: 'Silkscreen', cursive;
    font-size: 15px;
}

.btn_container:hover {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    font-size: 20px;
    font-weight: bold;
}

.red {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    opacity: 0.5;
}

.blue {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    opacity: 0.5;
}

.green {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    opacity: 0.5;
}

.red:hover {
    opacity: 1;
    width: 25px;
    height: 25px;
}

.blue:hover {
    opacity: 1;
    width: 25px;
    height: 25px;
}

.green:hover {
    opacity: 1;
    width: 25px;
    height: 25px;
}
